/* Add CSS Styling */
p {
    color: black;
    background-color: #ff8f8f;
    font-size: 18px;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#third {
    font-size: 24px;
}

#second {
    color: blue;
    font-size: 36px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: 700;
}